# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
vendor/modules.txt
vendor/git.sr.ht/~mariusor/go-xsd-duration/LICENSE
vendor/git.sr.ht/~mariusor/go-xsd-duration/xsd_duration.go
vendor/github.com/go-ap/activitypub/.build.yml
vendor/github.com/go-ap/activitypub/.gitignore
vendor/github.com/go-ap/activitypub/activity.go
vendor/github.com/go-ap/activitypub/actor.go
vendor/github.com/go-ap/activitypub/collection_page.go
vendor/github.com/go-ap/activitypub/collection.go
vendor/github.com/go-ap/activitypub/copy.go
vendor/github.com/go-ap/activitypub/decoding_gob.go
vendor/github.com/go-ap/activitypub/decoding_json.go
vendor/github.com/go-ap/activitypub/encoding_gob.go
vendor/github.com/go-ap/activitypub/encoding_json.go
vendor/github.com/go-ap/activitypub/flatten.go
vendor/github.com/go-ap/activitypub/helpers.go
vendor/github.com/go-ap/activitypub/intransitive_activity.go
vendor/github.com/go-ap/activitypub/iri.go
vendor/github.com/go-ap/activitypub/item_collection.go
vendor/github.com/go-ap/activitypub/item.go
vendor/github.com/go-ap/activitypub/LICENSE
vendor/github.com/go-ap/activitypub/link.go
vendor/github.com/go-ap/activitypub/Makefile
vendor/github.com/go-ap/activitypub/natural_language_values.go
vendor/github.com/go-ap/activitypub/object_id.go
vendor/github.com/go-ap/activitypub/object.go
vendor/github.com/go-ap/activitypub/ordered_collection_page.go
vendor/github.com/go-ap/activitypub/ordered_collection.go
vendor/github.com/go-ap/activitypub/place.go
vendor/github.com/go-ap/activitypub/profile.go
vendor/github.com/go-ap/activitypub/question.go
vendor/github.com/go-ap/activitypub/README.md
vendor/github.com/go-ap/activitypub/relationship.go
vendor/github.com/go-ap/activitypub/tombstone.go
vendor/github.com/go-ap/activitypub/typer.go
vendor/github.com/go-ap/activitypub/types.go
vendor/github.com/go-ap/activitypub/validation.go
vendor/github.com/go-ap/errors/.build.yml
vendor/github.com/go-ap/errors/.gitignore
vendor/github.com/go-ap/errors/decoding.go
vendor/github.com/go-ap/errors/errors.go
vendor/github.com/go-ap/errors/http.go
vendor/github.com/go-ap/errors/LICENSE
vendor/github.com/go-ap/errors/Makefile
vendor/github.com/go-ap/errors/README.md
vendor/github.com/go-ap/errors/stack.go
vendor/github.com/go-ap/jsonld/.build.yml
vendor/github.com/go-ap/jsonld/.gitignore
vendor/github.com/go-ap/jsonld/context.go
vendor/github.com/go-ap/jsonld/decode.go
vendor/github.com/go-ap/jsonld/encode.go
vendor/github.com/go-ap/jsonld/fold.go
vendor/github.com/go-ap/jsonld/LICENSE
vendor/github.com/go-ap/jsonld/Makefile
vendor/github.com/go-ap/jsonld/README.md
vendor/github.com/go-ap/jsonld/scanner.go
vendor/github.com/go-ap/jsonld/tables.go
vendor/github.com/go-ap/jsonld/tags.go
vendor/github.com/valyala/fastjson/.gitignore
vendor/github.com/valyala/fastjson/.travis.yml
vendor/github.com/valyala/fastjson/arena.go
vendor/github.com/valyala/fastjson/doc.go
vendor/github.com/valyala/fastjson/fuzz.go
vendor/github.com/valyala/fastjson/handy.go
vendor/github.com/valyala/fastjson/LICENSE
vendor/github.com/valyala/fastjson/parser.go
vendor/github.com/valyala/fastjson/pool.go
vendor/github.com/valyala/fastjson/README.md
vendor/github.com/valyala/fastjson/scanner.go
vendor/github.com/valyala/fastjson/update.go
vendor/github.com/valyala/fastjson/util.go
vendor/github.com/valyala/fastjson/validate.go
vendor/github.com/valyala/fastjson/fastfloat/parse.go
